/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Luxurious+Roman&family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Luxurious+Roman&family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Luxurious+Roman&family=Poppins:wght@400;500;600&family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap');

/* common */
body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
h1 {
    color: #3a3a3a;
    font-weight: bold;
    font-size: 52px;
}

/* header styles */
header {
    display: flex;
    justify-content: space-between;
    margin-left: 120px;
    margin-right: 120px;
    margin-top: 87px;
}
.title {
    font-weight: bold;
    font-size: 24px;
    color: #3a3a3a;
}
nav {
    padding-top: 8px;
}

nav a{
    text-decoration: none;
    font-size: 16px;
    color: #3a3a3a;
    padding-left: 34px;
}

/* introduction section styles */
.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 120px;
    padding-top: 120px;

}
.intro-text {
    display: flex;
    flex-direction: column;
    width: 582px;
    height: 270px;

}

.intro-head {
    color: #3a3a3a;
    font-size: 52px;
    font-weight: bold;
    margin: 0;
    padding-bottom: 16px;
}
.intro-head p {
    margin: 0;
}
.intro-body {
    color: #3a3a3a;
    font-size: 16px;
    margin-top: 16px;
    font-weight: 600;
    margin: 0;
    padding-bottom: 26px;
}
.intro-body p {
    margin: 0px;
}
.button {
    width: 196px;
    height: 44px;
    background-color: #E02C6D;
    border-radius: 41px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: white;
    text-decoration: none;
    padding: 10px 24px;  
}
.button:hover {
    background-color: #e02c6e3d;
    color: #3a3a3a;
    transition: background-color 0.5s ease-out, color 0.5s ease-out;
}

.intro-image {
    padding-left: 11px;
}

.intro-background {
    position: absolute;
    width: 475px;
    height: 475px;
    left: 888px;
    top: 201px;
    opacity: 0.55;
}

.intro-main {
    position: absolute;
    width: 440px;
    height: 414px;
    left: 890px;
    top: 231px;
}

/* partner section styles */

.partners {
    width: 1110px;
    height: 110px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    border-top: 2px solid #C0CCDA;
    border-bottom: 2px solid #C0CCDA;
    margin: 255px 165px 63px;
}

/* product section styles */
.marketplace {
    height: 1662px;
    width: 1047px;
    padding-left: 225px;
}

.product-title h4 {
    color: #3a3a3a;
    font-weight: 600;
    font-size: 28px;
    text-align: center;
}

.products {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    justify-content: space-evenly;
    padding-top: 30px;
}
.product {
    height: 476px;
    width: 329px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    padding-left: 14px;
}
.product img {
    height: 256px;
    width: 300px;
    border-radius: 5px;
    padding-top: 17px;
}
.product-name {
    color: #18191F;
    font-weight: 500px;
    font-size: 28px;
    padding-top: 16px;
    margin: 0px;
}
.product-price {
    color: rgba(0, 0, 0, 0.87);
    font-family: 'Inter', sans-serif;
    font-weight: normal;
    font-size: 24px;
    display: flex;
    align-items: center;
    padding-top: 6px;
    margin: 0px;
}
.rating {
    color: #FB8200;
    font-size: 12px;
}
.number {
    color: #5E6366;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 14px;
}
.product-text {
    font-family: 'Inter', sans-serif;
    color: #787885;
    font-weight: bold;
    font-size: 14px;
}
.product-extend {
    color: #E02C6DDE;
    font-weight: 700;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    justify-content: right;
    align-items: center;
    padding-top: 50px;
}
.fa-arrow-right {
    padding-left: 8px;
}
.product-extend:hover {
    color: #3a3a3a;
    transition: color 0.5s ease-out;
}

/* blog section styles */

.blog {
    display: flex;
    height: 270px;
    width: 1110px;
    padding: 100px 165px;
    align-items: center;
    margin: 0;
}
.blog-image {
    padding-right: 96px;
    height: 270px;
    width: 404px;
}
.blog-head {
    color: #0A0826;
    font-weight: bold;
    font-size: 38px;
    margin: 0;
    padding-bottom: 16px;
}
.blog-main {
    color: #6C6C6C;
    font-weight: bold;
    font-size: 16px;
    margin: 0px;
    padding-bottom: 26px;
}

/* footer styles */

footer {
    background-color: #0A0826;

}
.footer-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 589px;
}
.footer-head {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 24px;
    padding: 3px;
    margin: 0;
}
.footer-main {
    font-family: 'Manrope', sans-serif;
    color: #D9DBE1;
    font-weight: bold;
    font-size: 14px;
    margin: 0px;
    padding-bottom: 3px;
}
.footer-social {
    margin: 0px;
    padding-top: 14px;
}
.logo-social {
    color: white;
    font-size: 20px;
    height: 32px;
    width: 32px;
    padding-left: 16px;
}
.logo-social:hover {
    color: lightcyan;
    transition: color 0.5s ease-out;
}
#facebook {
    padding-left: 0px;
}